@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

html, body {
	background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.m-b-md {
    margin-bottom: 30px;
}

.nav-item > a {
    font-size: 16px;
}

.form-group > label {
    font-size: 16px;
}

.card-body .front{
    background-color: white;
    backface-visibility: hidden;
    transform: rotateX(0deg);
    transition: 0.5s;
}

.card-body:hover .front{
    transform: rotateX(-180deg);
}

.foot{
    position: fixed;
    bottom: 0;
    width: 100%;
}
